name: Test Node.js nightly build

on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ 'macos-15', 'ubuntu-24.04', 'ubuntu-24.04-arm', 'windows-11-arm', 'windows-2022', 'windows-2025' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install latest Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 26-nightly
      - name: Test
        run: |
          pnpm install:frozen
          pnpm test
